
backend-Floricultura/__pycache__/
backend-Floricultura/**/*.pyc
backend-Floricultura/venv/
backend-Floricultura/*.db

frontend-Floricultura/node_modules/
frontend-Floricultura/.next/
frontend-Floricultura/out/
frontend-Floricultura/dist/

*.log

.vscode/
.idea/

.env
*.env
